html,
body {
	height: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: -0.16px;
	color: $black;
	&.overflow{
		overflow: hidden;
	}
}

button {
	border: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1350px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;

}

.container-fluid {
	max-width: 1410px;
}

.d-flex {
	display: flex;
}

.menu-btn {
	width: 30px;
	height: 20px;
	position: relative;
	transform: rotate(0deg);
	transition: background-color .5s ease-in-out;
	cursor: pointer;
	z-index: 101;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $primary;
		border-radius: 9px;
		opacity: 1;
		top: 0;
		right: 0px;
		transform: rotate(0deg);
		transition: transform .25s ease-in-out;
	}

	span:nth-child(2) {
		top: 9px;
		margin-right: auto;
		transition: right .25s ease-in-out, opacity .25s ease-in-out;
	}

	span:nth-child(3) {
		top: 18px;
	}
}

.menu-btn.open {
	span:nth-child(1) {
		top: 8px;
		transform: rotate(135deg);
	}

	span:nth-child(2) {
		opacity: 0;
		right: -60px;
	}

	span:nth-child(3) {
		top: 8px;
		transform: rotate(-135deg);
	}
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	grid-gap: 2px;
	padding: 10px 20px;
	border-radius: 30px;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	letter-spacing: -0.16px;
	color: $black;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	// &:active {
	// 	color: #fff;
	// 	background-color: #176AB7;
	// 	border-color: #176AB7;
	// }
	svg path {
		transition: all .3s;
	}

	&:active {
		background-color: $succes-ligth;
		color: #fff;
	}

}

.btn-default {
	background-color: #fff;
}

.btn-primary {
	background-color: $primary;
	color: $black;
}
.btn-danger{
	
}
.btn-s{
	padding: 5px 10px;
	font-size: 14px;
}
.btn-outline {
	border: 1px solid $black;

	&.white {
		border-color: #fff;
		color: #fff;
	}

	&.default {
		border-color: $grey;
		color: $grey;
	}

	&:active {
		border-color: $succes-ligth;
	}
}

.btn-outline:active(.delivery-item-outline__btn, .product-tab):hover svg path {
	stroke: #fff;
}

.not-found {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 400px;
	}

	&__title {
		font-size: 60px;
		line-height: 78px;
		margin-bottom: 36px;
	}
}

.title,
h2,h3,h4,h5,h6 {
	font-size: 32px;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: -0.32px;
}

.title-l {
	font-size: 52px;
	font-style: normal;
	font-weight: 600;
	line-height: 110%;
	letter-spacing: -0.52px;
}

.title-m {
	font-size: 28px;
	font-weight: 600;
	line-height: 120%;
}

.subtitle,
.product_title {
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
}

.text {
	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: -0.18px;
}

.hidden {
	display: none;
}

.section {
	margin-bottom: 90px;
}

.mb-3 {
	margin-bottom: 30px;
}
.mb-6{
	margin-bottom: 60px;
}
.br-20 {
	border-radius: 20px;
}

.center-block {
	display: flex;
	align-items: center;
	justify-content: center;
}


.h1TitleWrapper {
	width: 100%;
	@include centering();
	margin-top: 20px;

	.h1TitleInner {
		max-width: 1440px;
		width: 100%;
		padding: 0 60px;
		display: flex;
		align-items: center;

		@media only screen and (max-width: 1400px) {
			max-width: 100%;
			padding: 0 20px;
		}

		h1 {
			font-size: 52px;
			font-weight: 600;
			line-height: 110%;
			letter-spacing: -0.52px;
			color: $black;

			@media only screen and (max-width: 1400px) {
				font-size: 46px;
				letter-spacing: -0.46px
			}

			@media only screen and (max-width: 1000px) {
				font-size: 36px;
				letter-spacing: -0.36px
			}

			@media only screen and (max-width: 750px) {
				font-size: 26px;
				letter-spacing: -0.26px
			}
		}
	}
}


.form-input {
	p {
		width: 100%;
	}

	input {
		margin-bottom: 10px;
		width: 100%;
	}

	.carrierPageFormSubmit {
		@include centering;
		width: 100%;
		padding: 10px;
		background-color: $succes;
		border: 1px solid #fff;
		border-radius: 50px;
		cursor: pointer;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		letter-spacing: -0.16px;
		color: #fff;
	}
}

.input,
.input-text {
	border: 1px solid transparent;
	padding: 13px 15px;
	border-radius: 15px;
	transition: all .3s;

	&::placeholder {
		font-size: 14px;
		font-weight: 400;
		line-height: 120%;
		letter-spacing: -0.14px;
		color: $grey;
		transition: color .3s;
	}

	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: -0.14px;
	color: $black;

	&:focus {
		outline: none
	}

	&:focus::placeholder {
		color: $black;
	}

	&.wpcf7-not-valid {
		border-color: $danger;
		color: $danger;

		&::placeholder {
			color: $danger;
		}
	}
}


.form-btn {
	position: relative;
	width: 100%;
	transition: all .3s;
	cursor: pointer;

	p {
		display: flex;
		grid-gap: 2px;
		align-items: center;
	}

	input {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		opacity: 0;
	}

	.wpcf7-spinner {
		position: absolute;
		right: 10px;
	}
}


.woocommerce ul.products li.product .quantity .wp-element-button.button:active {
	background-color: $succes-ligth;

}

.woocommerce ul.products li.product:active {
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

li.product .woocommerce-loop-product__link:active {
	.product__sku {
		color: $black;
	}

	.woocommerce-loop-product__title {
		color: $danger;
	}
}

.orderby-item:active {
	color: $danger;
}

.products-top__inner .wpc-filter-chips-list a:active,
body .products-top__inner .wpc-filter-chips-list li.wpc-filter-chip a:active {
	background-color: $succes-ligth;
	border-color: $succes-ligth;
	color: #fff;

	.wpc-chip-remove-icon {
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 6.5L6.5 1.5M1.5 1.5L6.5 6.5' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.5 6.5L6.5 1.5M1.5 1.5L6.5 6.5' stroke='%23ffffff' stroke-opacity='0.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	}
}

.product-thumb:active {
	opacity: .6;
}

.woocommerce a.added_to_cart:active {
	color: $primary;
}

.products-wrapper .lmp_load_more_button.br_lmp_button_settings .lmp_button:active {
	color: #fff !important;
}

.carrierListWrapper .carrierListInner a:active .carrierListItem {
	background-color: $succes-ligth;

}

footer .footerTopWrapper .footerTopInner .footerTopContactsWrapper .footerTopContactsShowMap a:active {
	color: $black;
}

.woocommerce-terms-and-conditions-wrapper a:active {
	color: $danger;
}

.woocommerce a.remove:active svg path {
	stroke: $danger;
}

.product-name a:active {
	color: $danger;
}

.text-center{
	text-align: center;
}
.wpcf7-submit{
	cursor: pointer;
}
.text-sm{
	font-size: 14px;
}
.payment-info{
	margin-bottom: 10px;
}
.payment-info a {
	text-decoration: underline;
	&:hover{
		color: $danger;
	}
}