.woocommerce-order {}

.woocommerce-thankyou-order-received {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.woocommerce-order-details {
    margin-top: 20px;
}

.woocommerce-order-details__title,
.woocommerce-column__title {
    margin-bottom: 20px;
}

.woocommerce-customer-details--phone {
    margin: 10px 0;
}

.payment_method_paygine img {
    display: none;
}